@import url("bootstrap");




.footer-with-background {
  background-image: url('../src/assets/img/footer-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center right;
}


.comic-thumb {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  display: block;
  margin: 0 auto;
  border-radius: 8px;
}