@import url("bootstrap");




.footer-with-background {
  background-image: url('../src/assets/img/footer-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center right;
}