@import url("bootstrap");




.footer-with-background {
  background-image: url('../src/assets/img/footer-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center right;
}


.comic-thumb {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  display: block;
  margin: 0 auto;
  border-radius: 8px;
}

.dc-logo-footer {

  height: 500px;
  width: auto;
  
}

.col-md-3 .d-none .d-md-block {

  height: 550px;
  display: flex;
  align-items: center;
  justify-content: flex-end;


}
